<section class="service py-5">
  <h2>Obsługa i pomoc</h2>
  <div class="container">
    <div class="service-card-group py-5">
      <div class="row ">
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-calendar-xmark"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Szkody i zdarzenia</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-file"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Dokumenty</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-money-check-dollar"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Fundusze inwestycyjne</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-circle-info"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Twoje ubezpieczenia</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-bag-shopping"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Zarządzanie płatnościami</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-card">
            <p><i class="fa-solid fa-recycle"></i></p>
            <div class="service-card-body">
              <h5 class="service-card-title">Przedłużenie umów</h5>
              <a class="link animation-link" href="#">Sprawdź</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
