@import "variables";

.footer {
	background-color: $footer-background-color;
	.footer-boxes {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 1em;
		.footer-box {
			margin-top: 0.8em;
			font-size: 1.4rem;
			.footer-box-title {
				font-size: 1.8rem;
				font-weight: bold;
				color: $white-color;
			}
			.footer-box-list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0;
				list-style-type: none;
				.link {
					margin: 0;
					padding: 1em 0;
					font-weight: normal;
					color: $footer-gray-color;
					transition: color 0.3s;
					cursor: pointer;
				}
				.link:hover {
					color: $white-color;
				}
				.animation-link::before,
				.animation-link::after {
					border-bottom: 2px solid $white-color;
				}
			}
		}
	}
	hr {
		color: $footer-gray-color;
	}
	.footer-box-second-list {
		display: flex;
		flex-direction: column;
		.list {
			display: flex;
			list-style-type: none;
			.link {
				font-weight: normal;
				color: $footer-gray-color;
				transition: color 0.3s;
				cursor: pointer;
			}
			.link:hover {
				color: $white-color;
			}
			.animation-link::before,
			.animation-link::after {
				border-bottom: 2px solid $white-color;
			}
		}
		.footer-copy-right {
			margin-top: 0.5em;
			font-size: 1.5rem;
			color: $footer-gray-color;
			list-style-type: none;
		}
	}
}

@media (min-width: 768px) {
    .footer {
      .footer-boxes {
        .social-media {
          margin-top: 0;
        }
      }
    }
  }


  @media (min-width: 992px) {
    .footer {
      .footer-boxes {
        flex-direction: row;

        .footer-box {
          margin: 0 0.8em;
        }

        .social-media {
          margin-left: 4em;
        }
      }
      .footer-box-second-list {
        position: relative;
        .footer-copy-right {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .footer {
      .footer-boxes {
        .footer-box {
          width: 190px;
        }
      }
    }
  }
