<footer class="footer py-5">
    <div class="container">
      <hr>
      <div class="footer-box-second-list">
        <ul class="list">
          <div class="row">
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Polityka prywatności</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Regulamin</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Dokumenty</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Mapa serwisu</li>
            </div>
          </div>
        </ul>
        <ul class="footer-copy-right">
          <li>&copy; <span class="footer-year"></span> Leaf-Insurance</li>
        </ul>
      </div>
    </div>
  </footer>
