<section class="investments-header">
  <div class="container">
    <div class="investments-content">
      <h1>Fundusze inwestycyjne</h1>
      <p>Fundusze to efektywny sposób do oszczędności. Sprawdź jak to u nas wygląda.</p>
      <div class="service">
        <div class="container">
          <div class="service-card-group py-5">
            <div class="row ">
              <div class="col-sm-6 col-lg-3">
                <div class="service-card">
                  <p><i class="fa-solid fa-file-lines"></i></p>
                  <div class="service-card-body">
                    <h5 class="service-card-title">Oferta 15 funduszy</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="service-card">
                  <p><i class="fa-solid fa-circle-dollar-to-slot"></i></p>
                  <div class="service-card-body">
                    <h5 class="service-card-title">Wpłata już od 600 zł</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="service-card">
                  <p><i class="fa-solid fa-calendar-days"></i></p>
                  <div class="service-card-body">
                    <h5 class="service-card-title">Dowolny okres inwestowania</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="service-card">
                  <p><i class="fa-solid fa-network-wired"></i></p>
                  <div class="service-card-body">
                    <h5 class="service-card-title">Podgląd środków online</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
