<header>
  <div class="insurances-header">
    <div class="container">
      <div class="insurances-content">
        <h1>Ubezpieczenia w Leaf-Insurance</h1>
        <p>Nasze ubezpieczenia zapewnią ochronę tego co dla Ciebie najważniejsze. Wybierz rodzaj ubezpieczenia i
          poznaj jego szczegóły.</p>
        <div class="products py-5">
          <div class="container">
            <div class="card-group">
              <div class="row ">
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <i class="fa-solid fa-car"></i>
                    <div class="card-body">
                      <h5 class="card-title">Pojazd</h5>
                      <p class="card-text">2 proste pytania i znasz cenę w 10 sekund</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                      <a class="card-btn card-btn-second" routerLink="/car-insurance-information">Dowiedz się
                        więcej</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <i class="fa-solid fa-house"></i>
                    <div class="card-body">
                      <h5 class="card-title">Dom i mieszkanie</h5>
                      <p class="card-text">10% taniej przy polisie na 2 lub 3 lata.</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                      <a class="card-btn card-btn-second"
                      routerLink="/house-and-apartment-insurance-information">Dowiedz się więcej</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <i class="fa-solid fa-globe"></i>
                    <div class="card-body">
                      <h5 class="card-title">Podróż</h5>
                      <p class="card-text">Sprawdź cenę ze zniżką 15%</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                      <a class="card-btn card-btn-second" routerLink="/tourist-insurance-information">Dowiedz się
                        więcej</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <i class="fa-solid fa-heart"></i>
                    <div class="card-body">
                      <h5 class="card-title">Zycie i zdrowie</h5>
                      <p class="card-text">Zapewnij sobie i bliskim wspracie finansowe w różnych sytuacjach.</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                      <a class="card-btn card-btn-second" routerLink="/life-insurance-information">Dowiedz się
                        więcej</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
