@import "variables";
@import "mixins";

.insurances-header {
  .insurances-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 1em;
      font-size: 3.5rem;
      text-align: center;
    }
    p {
      margin: 1em 1em;
      font-size: 1.6rem;
      text-align: center;
    }
    .service {
      background-color: $white-color;
      .service-card {
        background-color: $white-color;
      }
    }

    .end-button {
      margin: 2em 0;
      width: 95%;
      @include standardButton;
      color: $main-color;
    }
    .end-button:hover {
      color: $white-color;
      background-color: $main-color;
    }
    .products {
      .card-group {
        .card {
          margin: 2em 1em;
          text-align: center;
          .fa-solid {
            margin-top: 1em;
            font-size: 4rem;
            color: $main-color;
          }
          .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 270px;
            text-align: center;

            .card-title {
              font-size: 2rem;
              font-weight: bold;
            }
            .card-text {
              font-size: 1.5rem;
              height: 100%;
            }
            .card-btn {
              @include standardButton;
            }
            .card-btn-first {
              color: $main-color;
            }
            .card-btn-second {
              margin: 1em 0;
              color: $main-color;
              background-color: $gray-color;
            }
            .card-btn:hover {
              color: $white-color;
              background-color: $main-color;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .insurances-header {
    .insurances-content {
      .end-button {
        width: 200px;
      }
    }
  }
}
