<section class="insurances-header">
    <div class="container">
      <div class="insurances-content">
        <h1>Korzyści</h1>
        <p>Obejmujemy ochroną życie i zdrowie Twoje i Twojej rodziny. Zapewniamy Twoim bliskim wsparcie finansowe w
          ważnych i trudnych chwilach.</p>
        <div class="service">
          <div class="container">
            <div class="service-card-group py-5">
              <div class="row ">
                <div class="col-sm-6 col-lg-3">
                  <div class="service-card">
                    <p><i class="fa-solid fa-people-roof"></i></p>
                    <div class="service-card-body">
                      <h5 class="service-card-title">Wsparcie finasowe dla rodziny</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="service-card">
                    <p><i class="fa-solid fa-chart-line"></i></p>
                    <div class="service-card-body">
                      <h5 class="service-card-title">Łatwość podczas inwestowania</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="service-card">
                    <p><i class="fa-solid fa-hand-holding-medical"></i></p>
                    <div class="service-card-body">
                      <h5 class="service-card-title">Konsultacje lekarskie ze zniżkami</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="service-card">
                    <p><i class="fa-solid fa-handshake-simple"></i></p>
                    <div class="service-card-body">
                      <h5 class="service-card-title">Możliwość spotkania z agentem</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="end-button" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
      </div>
    </div>
  </section>
