<header>
  <div class="contact-header">
    <div class="container">
      <div class="contact-content">
        <h1>Kontakt</h1>
        <p>W czym możemy ci pomóc?</p>
        <div class="contact">
          <div class="products py-5">
            <div class="container">
              <div class="card-group">
                <div class="row ">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <p><i class="fa-solid fa-at"></i></p>
                        <h5 class="card-title">E-mail</h5>
                        <p class="card-text"><a href="">bok@leaf-insurance.pl</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <p><i class="fa-solid fa-phone"></i></p>
                        <h5 class="card-title">Telefon</h5>
                        <p class="card-text">+48 00 000 00 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <p><i class="fa-solid fa-headphones-simple"></i></p>
                        <h5 class="card-title">Kontakt z agentem</h5>
                        <p class="card-text">+48 00 000 00 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <p><i class="fa-solid fa-phone"></i></p>
                        <h5 class="card-title">Kontakt w sprawie PPK</h5>
                        <p class="card-text">+48 00 000 00 00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
