<body>
  <nav id="navbar" class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="./index.html"> <i class="fab fa-canadian-maple-leaf"></i><span
          class="navbar-brand-company-name">Leaf-Insurance</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" [ngClass]="flag ?'' :'drop-down-menu-mobile-active'" (click)="flag = !flag">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="link animation-link" href="./insurances.html"> Ubzpieczenia</a>
          <a class="link animation-link" href="./investments.html">Inwestycje</a>
          <a class="link animation-link" href="./retiring.html">Emerytura</a>
          <a class="link animation-link" href="./contact.html">Kontakt</a>
          <a class="link nav-search" (click)="handleIconChange()" #navSearch href="#search" [ngClass]="flag ?'' :'nav-search-color-change'" (click)="flag = !flag">Szukaj <i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="drop-down-menu-mobile" #dropDownMenuMobile [ngClass]="flag ?'' :'drop-down-menu-mobile-active'">
    <div class="white-background">
      <button class="close-button" (click)="flag = !flag" type="button">Zamknij menu <i class="fa-solid fa-x"></i></button>
      <div class="form-floating">
        <input id="floatingInput" type="search" class="form-control" placeholder="Wyszukaj">
        <label for="floatingInput"><i class="fa-solid fa-magnifying-glass"></i></label>
        <button type="submit" class="search-button">Szukaj</button>
        <div class="navbar-nav">
          <a class="link animation-link" href="./insurances.html"> Ubzpieczenia</a>
          <a class="link animation-link" href="./investments.html">Inwestycje</a>
          <a class="link animation-link" href="./retiring.html">Emerytura</a>
          <a class="link animation-link" href="./contact.html">Kontakt</a>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div class="hero-img">
      <div class="hero-shadow"></div>
      <div class="container">
        <div class="hero-content">
          <h1>Ubezpieczenie samochodu</h1>
          <p>2 proste pytania i znasz cenę w 10 sekund</p>
          <a class="hero-btn hero-btn-first" href="./insurance-calculator.html">Sprawdź cenę online</a>
          <a class="hero-btn hero-btn-second" href="./car-insurance-information.html">Dowiedz się więcej</a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="products py-5">
      <div class="container">
        <div class="card-group">
          <div class="row ">
            <div class="col-sm-6 col-lg-4">
              <div class="card ">
                <img src="./assets/img/product-image-1.jpg" class="card-img-top" alt="Architekt stojący przed budową domu">
                <div class="card-body">
                  <h5 class="card-title">Ubezpieczenie domu i mieszkania</h5>
                  <p class="card-text">10% taniej przy polisie na 2 lub 3 lata.</p>
                  <a class="card-btn card-btn-first" href="./insurance-calculator.html">Sprawdź cenę online</a>
                  <a class="card-btn card-btn-second" href="./house-and-apartment-insurance-information.html">Dowiedz
                    się więcej</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card">
                <img src="./assets/img/product-image-2.jpg" class="card-img-top"
                  alt="Zabytkowy budynek obok którego przechodzi dużo osób">
                <div class="card-body">
                  <h5 class="card-title">Ubezpieczenie turystyczne</h5>
                  <p class="card-text">Sprawdź cenę ze zniżką 15%</p>
                  <a class="card-btn card-btn-first" href="./insurance-calculator.html">Sprawdź cenę online</a>
                  <a class="card-btn card-btn-second" href="./tourist-insurance-information.html">Dowiedz się więcej</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 card-third">
              <div class="card">
                <img src="./assets/img/product-image-3.jpg" class="card-img-top" alt="Młode małżeństwo z dzieckiem na rękach">
                <div class="card-body">
                  <h5 class="card-title">Ubezpieczenie na życie</h5>
                  <p class="card-text">Zapewnij sobie i bliskim wspracie finansowe w różnych sytuacjach.</p>
                  <a class="card-btn card-btn-first" href="./insurance-calculator.html">Sprawdź cenę online</a>
                  <a class="card-btn card-btn-second" href="./life-insurance-information.html">Dowiedz się więcej</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="rest-of-products-list" (click)="secondFlag = !secondFlag" (click)="showContent()">
          <div #buttonBox class="button-box" >
            <button class="show-hide-products" type="button" aria-expanded="false"><i #productsArrow class="fas fa-chevron-down"></i>
            </button>
            <p>Wszystkie nasze produkty</p>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div #productBox class="product-box product-box-first">
                <h5 class="product-heading">Życie i zdrowie</h5>
                <ul class="list">
                  <li class="list-item">Ubezpieczenie na życie i zdrowie z bezpłatnym pakietem badań</li>
                  <li class="list-item">Oszczędzanie z myślą o przyszłości</li>
                  <li class="list-item">Ubezpieczenie NNW</li>
                </ul>
                <hr>
              </div>
            </div>
            <div class="col-lg-4">
              <div #productBox class="product-box product-box-second">
                <h5 class="product-heading">Samochód</h5>
                <ul class="list">
                  <li class="list-item">Ubezpieczenie OC</li>
                  <li class="list-item">Pakiet OC/AC</li>
                  <li class="list-item">Assistance</li>
                </ul>
                <hr>
              </div>
            </div>
            <div class="col-lg-4">
              <div #productBox class="product-box product-box-third">
                <h5 class="product-heading">Dom i mieszkanie</h5>
                <ul class="list">
                  <li class="list-item">Ubezpieczenie mieszkania</li>
                  <li class="list-item">Ubezpieczenie domu</li>
                  <li class="list-item">Ubezpieczenie pod kredyt</li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="end-line-rest-of-products">
        </div>
      </div>
    </section>
    <section class="service py-5">
      <h2>Obsługa i pomoc</h2>
      <div class="container">
        <div class="service-card-group py-5">
          <div class="row ">
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-calendar-xmark"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Szkody i zdarzenia</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-file"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Dokumenty</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-money-check-dollar"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Fundusze inwestycyjne</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-circle-info"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Twoje ubezpieczenia</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-bag-shopping"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Zarządzanie płatnościami</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="service-card">
                <p><i class="fa-solid fa-recycle"></i></p>
                <div class="service-card-body">
                  <h5 class="service-card-title">Przedłużenie umów</h5>
                  <a class="link animation-link" href="#">Sprawdź</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer py-5">
    <div class="container">
      <div class="footer-boxes">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="footer-box">
              <h3 class="footer-box-title">Kontakt</h3>
              <ul class="footer-box-list">
                <li class="link animation-link">Obsługa klienta</li>
                <li class="link animation-link">Znajdź agenta</li>
                <li class="link animation-link">Oddziały</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="footer-box">
              <h3 class="footer-box-title">Leaf-Insurance</h3>
              <ul class="footer-box-list">
                <li class="link animation-link">O nas</li>
                <li class="link animation-link">Wyróżnienia</li>
                <li class="link animation-link">Społeczność</li>
                <li class="link animation-link">Kariera</li>
                <li class="link animation-link">Plany kapitałowe</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="footer-box">
              <h3 class="footer-box-title">Centrum informacji</h3>
              <ul class="footer-box-list">
                <li class="link animation-link">Dokumenty</li>
                <li class="link animation-link">Notowania funduszy</li>
                <li class="link animation-link">Informacje na temat CRS</li>
                <li class="link animation-link">Informacje o rabatach</li>
                <li class="link animation-link">Centrum prasowe</li>
                <li class="link animation-link">Blog</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="footer-box">
              <h3 class="footer-box-title">Ubezpieczenia</h3>
              <ul class="footer-box-list">
                <li class="link animation-link">Obsługa klienta</li>
                <li class="link animation-link">Znajdź agenta</li>
                <li class="link animation-link">Oddziały</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <hr>
      <div class="footer-box-second-list">
        <ul class="list">
          <div class="row">
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Polityka prywatności</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Regulamin</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Dokumenty</li>
            </div>
            <div class="col-6 col-sm-3">
              <li class="link animation-link">Mapa serwisu</li>
            </div>
          </div>
        </ul>
        <ul class="footer-copy-right">
          <li>&copy; <span class="footer-year"></span> Leaf-Insurance {{currentYear}}</li>
        </ul>
      </div>
    </div>
  </footer>
</body>

<router-outlet></router-outlet>
