<footer class="footer py-5">
  <div class="container">
    <div class="footer-boxes">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="footer-box">
            <h3 class="footer-box-title">Kontakt</h3>
            <ul class="footer-box-list">
              <li class="link animation-link">Obsługa klienta</li>
              <li class="link animation-link">Znajdź agenta</li>
              <li class="link animation-link">Oddziały</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="footer-box">
            <h3 class="footer-box-title">Leaf-Insurance</h3>
            <ul class="footer-box-list">
              <li class="link animation-link">O nas</li>
              <li class="link animation-link">Wyróżnienia</li>
              <li class="link animation-link">Społeczność</li>
              <li class="link animation-link">Kariera</li>
              <li class="link animation-link">Plany kapitałowe</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="footer-box">
            <h3 class="footer-box-title">Centrum informacji</h3>
            <ul class="footer-box-list">
              <li class="link animation-link">Dokumenty</li>
              <li class="link animation-link">Notowania funduszy</li>
              <li class="link animation-link">Informacje na temat CRS</li>
              <li class="link animation-link">Informacje o rabatach</li>
              <li class="link animation-link">Centrum prasowe</li>
              <li class="link animation-link">Blog</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="footer-box">
            <h3 class="footer-box-title">Ubezpieczenia</h3>
            <ul class="footer-box-list">
              <li class="link animation-link">Obsługa klienta</li>
              <li class="link animation-link">Znajdź agenta</li>
              <li class="link animation-link">Oddziały</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <hr>
    <div class="footer-box-second-list">
      <ul class="list">
        <div class="row">
          <div class="col-6 col-sm-3">
            <li class="link animation-link">Polityka prywatności</li>
          </div>
          <div class="col-6 col-sm-3">
            <li class="link animation-link">Regulamin</li>
          </div>
          <div class="col-6 col-sm-3">
            <li class="link animation-link">Dokumenty</li>
          </div>
          <div class="col-6 col-sm-3">
            <li class="link animation-link">Mapa serwisu</li>
          </div>
        </div>
      </ul>
      <ul class="footer-copy-right">
        <li>&copy; <span class="footer-year"></span> Leaf-Insurance {{currentYear}}</li>
      </ul>
    </div>
  </div>
</footer>
