$main-color: #004fb6;
$secondary-color: #ffd900;
$white-color: #fff;
$gray-color: #eee;
$dark-gray-color: #5c596d;
$navbar-search-border-color: #ffc05a;
$footer-background-color: #2e2e2e;
$footer-gray-color: #ccc;
