<div class="insurance-calculator-form">
    <div class="container">
      <div class="insurance-calculator-form-content">
        <form>
          <div class="form-group">
            <h1>Kalkulator ubezpieczenia</h1>
          </div>
          <div class="form-group date-of-birth">
            <label for="date-of-birth">Data urodzenia</label>
            <input type="text" class="form-control" id="date-of-birth" aria-describedby="dateOfBirth"
              placeholder="dd/mm/rrrr">
          </div>
          <div class="form-group phone">
            <label for="phone">Telefon</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">+48</div>
              </div>
              <input type="text" class="form-control" id="phone" placeholder="" aria-describedby="phone">
            </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="">
          </div>
          <div class="form-group"> <button type="submit" class="">Przejdź dalej</button></div>
        </form>
        <div class="end-information">
          <p>Informujemy, że Twoje dane osobowe będą przetwarzane przez Leaf-Insurance w celu przedstawienia Ci ofert
            ubezpieczeniowych oraz zawarcia i realizacji umowy. Podawanie danych osobowych jest dobrowolne i
            przysługuje Ci prawo dostępu od nich oraz ich poprawiania, usuwania oraz prawo zgłoszenia sprzeciwu wobec
            przetwarzania danych w celach marketingowych. Szczegółowy opis sposobu przetwarzania danych osobowych
            zamieszczony jest w polityce prywatności.</p>
        </div>
      </div>
    </div>
  </div>
