<section class="insurance-car-more-info">
    <div class="container">
      <div class="insurance-car-more-info-content">
        <h1>Wybierz ubezpieczenie samochodu</h1>
        <p>W Leaf-Insurance kupisz ubezpieczenie dla pojazdu osobno lub w pakiecie. Wybierając pakiet cena i zniżki
          będą atrakcyjniejsze.</p>
        <div class="products py-3">
          <div class="container">
            <div class="card-group">
              <div class="row ">
                <div class="col-sm-6 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Pakiet OC</h5>
                      <ul>
                        <li>2 pytania i znasz cenę w 10 sekund</li>
                        <li>Holowanie w cenie</li>
                        <li>Zwrot pieniędzy dla poszkodowanych</li>
                        <li>Pakiet zniżek</li>
                        <li>Dodatkowe ubezpieczenie opon i szyb</li>
                      </ul>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Pakiet OC/AC</h5>
                      <ul>
                        <li>2 pytania i znasz cenę w 10 sekund</li>
                        <li>Holowanie w cenie</li>
                        <li>Zwrot pieniędzy dla poszkodowanych</li>
                        <li>Pakiet zniżek</li>
                        <li>Dodatkowe ubezpieczenie opon i szyb</li>
                        <li>Naprawa auta i odszkodowanie w razie kradzieży</li>
                      </ul>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
