@import "variables";
@import "mixins";

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
	cursor: pointer;
}

// animation of nav links with pseudoelements
.link {
	position: relative;
	margin: 0 1em;
	padding: 0.3em;
	font-size: 1.5rem;
	font-weight: bold;
	color: $main-color;
	text-decoration: none;
}

.link:hover {
	color: $main-color;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.animation-link::before,
.animation-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 2px solid $main-color;
}

.animation-link::before {
	right: 50%;
}
.animation-link::after {
	left: 50%;
}

.animation-link:hover::before,
.animation-link:hover::after {
	width: 50%;
}
//end of animation


//car insurnace more info subpage
.insurance-car-more-info {
	.insurance-car-more-info-content {
		h1 {
			margin-top: 1em;
			font-size: 3.5rem;
			text-align: center;
		}
		p {
			margin: 2em 1em;
			font-size: 1.6rem;
			text-align: center;
		}
		.products {
			.card-group {
				display: flex;
				align-items: center;
				justify-content: center;
				.card {
					.card-body {
						position: relative;
						height: 500px;
						ul {
							li {
								font-size: 1.5rem;
								margin: 1em 1em;
							}
						}
						.card-btn {
							position: absolute;
							bottom: 1em;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}

//insurances subpage
.insurances-header {
	.insurances-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			margin-top: 1em;
			font-size: 3.5rem;
			text-align: center;
		}
		p {
			margin: 1em 1em;
			font-size: 1.6rem;
			text-align: center;
		}
		.service {
			background-color: $white-color;
			.service-card {
				background-color: $white-color;
			}
		}

		.end-button {
			margin: 2em 0;
			width: 95%;
			@include standardButton;
			color: $main-color;
		}
		.end-button:hover {
			color: $white-color;
			background-color: $main-color;
		}
		.products {
			.card-group {
				.card {
					text-align: center;
					.fa-solid {
						margin-top: 1em;
						font-size: 4rem;
						color: $main-color;
					}
					.card-body {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 300px;
						text-align: center;
					}
				}
			}
		}
	}
}

//car insurance information subpage
.car-insurance {
	.hero-img {
		background-image: url('./assets/img/car-hero-img-small.jpg');
		.hero-content {
			.hero-btn {
				margin: 1em 0;
			}
		}
	}
}

//tourist insurance information subpage
.tourist-insurance {
	.hero-img {
		background-image: url('./assets/img/tourist-hero-img-small.jpg');
		.hero-content {
			.hero-btn {
				margin: 1em 0;
			}
		}
	}
}

//life insurance information subpage
.life-insurance {
	.hero-img {
		background-image: url('./assets/img/life-hero-img-small.jpg');
		.hero-content {
			.hero-btn {
				margin: 1em 0;
			}
		}
	}
}

//investments information subpage
.investments {
	.hero-img {
		background-image: url('./assets/img/investments-hero-img-small.jpg');
		.hero-content {
			position: absolute;
			top: 50%;
			display: inline-block;
		}
	}
}

//investments information subpage
.retiring {
	.hero-img {
		background-image: url('./assets/img/retiring-hero-img-small.jpg');
		.hero-content {
			position: absolute;
			top: 50%;
			display: inline-block;
		}
	}
}

//insurance calculator subpage
.insurance-calculator-form {
	.insurance-calculator-form-content {
		max-width: 600px;
		.form-group {
			min-width: 250px;
			margin: 2em 1em;
			label {
				margin: 0.5em 0;
				font-size: 1.8rem;
			}
			input,
			.input-group-text {
				font-size: 2rem;
			}
			h1 {
				font-size: 3.5rem;
			}
			button {
				width: 100%;
				@include standardButton;
				color: $main-color;
			}
			button:hover {
				color: $white-color;
				background-color: $main-color;
			}
		}
	}
	.date-of-birth,
	.phone {
		width: 250px;
	}
	.end-information {
		margin: 6em 1em;
	}
}

// media queries


@media (min-width: 576px) {
	.insurance-calculator-form {
		height: 100vh;
	}
	.insurances-header {
		.insurances-content {
			.end-button {
				width: 200px;
			}
		}
	}
}





@media (min-width: 768px) {
	.footer {
		.footer-boxes {
			.social-media {
				margin-top: 0;
			}
		}
	}
}

@media (min-width: 992px) {
	.footer {
		.footer-boxes {
			flex-direction: row;

			.footer-box {
				margin: 0 0.8em;
			}

			.social-media {
				margin-left: 4em;
			}
		}
		.footer-box-second-list {
			position: relative;
			.footer-copy-right {
				position: absolute;
				right: 0;
			}
		}
	}
	.insurances-more-info {
		.insurances-more-info-content {
			.products {
				.card-group {
					.card {
						.card-body {
							height: 400px;
						}
					}
				}
			}
		}
	}
}

.car-insurance {
	.hero-img {
		background-image: url('./assets/img/car-hero-img-big.jpg');
	}
}

.tourist-insurance {
	.hero-img {
		background-image: url('./assets/img/tourist-hero-img-big.jpg');
	}
}

.life-insurance {
	.hero-img {
		background-image: url('./assets/img/life-hero-img-big.jpg');
	}
}

.investments {
	.hero-img {
		background-image: url('./assets/img/investments-hero-img-big.jpg');
	}
}

.retiring {
	.hero-img {
		background-image: url('./assets/img/retiring-hero-img-big.jpg');
	}
}

@media (min-width: 1200px) {
	.footer {
		.footer-boxes {
			.footer-box {
				width: 190px;
			}
		}
	}
}
