@import "variables";
@import "mixins";

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
  scroll-behavior: auto !important;

}

body {
	font-family: 'Montserrat', sans-serif;
}

input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
	cursor: pointer;
}

// animation of nav links with pseudoelements
.link {
	position: relative;
	margin: 0 1em;
	padding: 0.3em;
	font-size: 1.5rem;
	font-weight: bold;
	color: $main-color;
	text-decoration: none;
}

.link:hover {
	color: $main-color;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.animation-link::before,
.animation-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 2px solid $main-color;
}

.animation-link::before {
	right: 50%;
}
.animation-link::after {
	left: 50%;
}

.animation-link:hover::before,
.animation-link:hover::after {
	width: 50%;
}
//end of animation
.active-link {
  border-bottom: 2px solid $main-color;
}
