<div class="insurances-header">
    <div class="container">
      <div class="insurances-content">
        <h1>Ubezpieczenie domu lub mieszkania</h1>
        <p>W Leaf-Insurance kupisz ubezpieczenie mieszkania lub domu, także pod kredyt. Mając ubezpieczenie
          nieruchomości, nie musisz martwić się skutkami losowych zdarzeń. Wypłacimy odszkodowanie za uszkodzenie
          budynku lub jego wyposażenia oraz w przypadku kradzieży.</p>
        <div class="products py-5">
          <div class="container">
            <div class="card-group">
              <div class="row ">
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <img src="assets/img/house-img.jpg" class="card-img-top" alt="Dom na osiedlu przy błękitnym niebie">
                    <div class="card-body">
                      <h5 class="card-title">Ubezpieczenie domu</h5>
                      <p class="card-text">Ubezpieczenie w razie zalania, pożaru lub innych zdarzeń losowych.</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <img src="assets/img/apartment-img.jpg" class="card-img-top"
                      alt="Salon mieszkania z dużym telewizorem">
                    <div class="card-body">
                      <h5 class="card-title">Ubezpieczenie mieszkania</h5>
                      <p class="card-text">Ubezpieczenie w razie zalania, pożaru lub innych zdarzeń losowych.</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <img src="assets/img/property-img.jpg" class="card-img-top"
                      alt="Kartka papieru na której znajduje się tekturowy dom oraz klucze">
                    <div class="card-body">
                      <h5 class="card-title">Ubezpieczenie nieruchomości</h5>
                      <p class="card-text">Spełniające warunki polisy pod kredyt</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <img src="assets/img/photovoltaics-img.jpg" class="card-img-top"
                      alt="Panele fotowoltaiczne na dachu budynku">
                    <div class="card-body">
                      <h5 class="card-title">Ubezpieczenie instalacji fotowoltaicznych</h5>
                      <p class="card-text">Wypłacimy odszkodowanie za instalcję, która uległa awarii, została
                        skradziona lub zniszczona.</p>
                      <a class="card-btn card-btn-first" routerLink="/insurance-calculator-form">Sprawdź cenę online</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
